body{
    margin: 0;
}

#pinata {
    position: absolute;
    width: 200px;
}
  
.chatbot-mobile-button{

    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    cursor: pointer;

    @media screen and (max-width: 740px) {
        border-radius: 50%;
        display: inline;
    }
}

#chatbot-container{
    width: 400px;
    position: fixed;
    bottom: 0;
    opacity: 1;
    right: 200px;
    flex-direction: column;
    background: grey;
    margin: 0;
    border-top-right-radius: 0.5vw;
    border-top-left-radius: 0.5vw;

    @media screen and (max-width: 740px) {
        display: none;
    }
    .send-icon{
        transform: translateX(-25%) rotate(45deg) ;
    }
    .chatbot-title{
        background: #CCC;
        border-top-right-radius: 0.5vw;
        border-top-left-radius: 0.5vw;
        height: 50px;
        flex-basis: auto;
        cursor: pointer;
    }

    .chatbot-inputs{
        padding: 0;
        .input-chatbot{
            border-radius:0;
            height: 50px; 
        }
        .button{
            height: 50px; 
        }
    }

    .chatbot-content{
        overflow: scroll;
        overflow-x: hidden;
        min-height: 350px;
        max-height: 350px;
        padding-top: 1.25rem; 
        .loader-msg{
            opacity: 1 !important;
        }
        .msg{
            opacity: 0;
            .msg-user{
                width: 50px;
            }
            .msg-content{
                background: #CCC;
                border-radius: 0.5vw;
                padding: 0.5em;
                align-items: center; 
                display: flex; 

                .loading-dots{
                    display: inline-block;
                    .dot{
                        display: inline-block;
                        border-radius: 50%;
                        width: 10px;
                        height: 10px;
                        background: grey;
                        animation: upDot .4s linear infinite alternate;
                        &:nth-child(1){
                            animation-delay: 0.2s;
                        }
                        &:nth-child(2){
                            animation-delay: 0.4s;
                        }
                        &:nth-child(3){
                            animation-delay: 0.6s;
                        }
                    }
                }
            }
        }
    }
}

.pinata-reward{
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    h2{
        font-size: 2vw;
        color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.chatbot-opened-mobile{
    transform: none !important;
    display: block !important;
    width: 100vw !important;
    overflow-y: hidden ; 
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    flex-direction: column;
    transform : translateX(100%);
    margin: 0;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    animation-duration: 0.5s;
    animation-name: slideInChatbotMobile; 
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);

    .send-icon{
        transform: translateX(-25%) rotate(45deg) ;
    }
    .chatbot-title{
        background: #CCC;
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
        height: 10vh !important;
        flex-basis: auto;
        cursor: pointer;
    }

    .chatbot-inputs{
        height: 5vh !important;
        padding: 0;
        .input-chatbot{
            border-radius:0;
            height: 5vh !important;
        }
        .button{
            height: 5vh !important;
        }
    }

    .chatbot-content{
        overflow: scroll;
        overflow-x: hidden;
        min-height: none !important;
        max-height: none !important;
        height: 85vh !important;
        .msg{
            opacity: 0;
            .msg-user{
                width: 50px;
            }
            .msg-content{
                background: #CCC;
                border-radius: 0.5vw;
                padding: 0.5em;
            }

        }
    }
}

@keyframes slideInChatbotMobile {
    from {
        transform: translateX(100%);
    }
  
    to {
        transform: translateX(0%);
    }
  }
@keyframes upDot {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-5px);
    }
}
