@import "variables";

@font-face {
    font-family: SpaceRanger;
    src: url(../font/spaceranger.ttf);
}
@font-face {
    font-family: Nasa;
    src: url(../font/nasa.ttf);
}

body{
    display: flex; 
    flex-direction: row; 
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: $backgroundUrl repeat;
    color: $text-color;
    font-family: Nasa;

    @media screen and (max-width: 740px) {
        flex-direction: column;
    }
}

section{
    display: flex; 
    flex-direction: column;
    
    align-items: center; 
    
    height: 92vh; 
}

.side-section{
    width: 30vw; 
    @media screen and (max-width: 740px) {
        width: 100vw; 
    }
}

.center-section{
    width: 40vw; 
    justify-content: center; 
    @media screen and (max-width: 740px) {
        width: 100vw; 
    }
}

.widget{
    width: 28vw; 
    height: 200px; 
}

.chartjs-render-monitor{
    font-family: Nasa !important;
}

.gps-widget{
    height: 24vh;
    display: flex;
    flex-direction: row; 
    @media screen and (max-width: 740px) {
        display: inline;
    }

}

.health-state-widget{
    height: 76vh; 
}

.human-widget{
    width: 36vw; 
    height: 80vh; 

    img{
        position: absolute; 
        width: 36vw; 
        max-height: 90vh;
    }
}

.podometer-widget{
    margin-top: 50px; 
    height: 200px; 
}

.weather-widget{
    height: 500px; 
}

.dg .title{
    text-align: center !important;
    font-size: 3vh !important;
    margin-bottom: 0 !important;
}

.dat-title{
    text-align: center;
    font-size: 3vh;
}

.divider{
    width : 50%;
    color: $text-color;
    background: $text-color;
    border-color: $text-color;
}

.block{
    display: flex; 
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.block-data{
    width: 70vw; 
    @media screen and (max-width: 740px) {
        width: auto; 
        text-align: center;
    }
}

.block-icon{
    width: 30vw; 
    @media screen and (max-width: 740px) {
        width: auto; 
    }
}

.human-body-part:hover{
    cursor: pointer;
}

.human-body-info{
    position: absolute;
    min-width: 100px; 
    width: 10vw; 
    height: 8vh;
    border: 1px dashed black; 
    border-radius: 7px; 
    padding: 10px; 

    & p {
        margin: 10px; 
    }
}