@font-face {
  font-family: SpaceRanger;
  src: url(../font/spaceranger.ttf);
}

@font-face {
  font-family: Nasa;
  src: url(../font/nasa.ttf);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("../img/pattern-light.png") repeat;
  color: black;
  font-family: Nasa;
}

@media screen and (max-width: 740px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92vh;
}

.side-section {
  width: 30vw;
}

@media screen and (max-width: 740px) {
  .side-section {
    width: 100vw;
  }
}

.center-section {
  width: 40vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 740px) {
  .center-section {
    width: 100vw;
  }
}

.widget {
  width: 28vw;
  height: 200px;
}

.chartjs-render-monitor {
  font-family: Nasa !important;
}

.gps-widget {
  height: 24vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 740px) {
  .gps-widget {
    display: inline;
  }
}

.health-state-widget {
  height: 76vh;
}

.human-widget {
  width: 36vw;
  height: 80vh;
}

.human-widget img {
  position: absolute;
  width: 36vw;
  max-height: 90vh;
}

.podometer-widget {
  margin-top: 50px;
  height: 200px;
}

.weather-widget {
  height: 500px;
}

.dg .title {
  text-align: center !important;
  font-size: 3vh !important;
  margin-bottom: 0 !important;
}

.dat-title {
  text-align: center;
  font-size: 3vh;
}

.divider {
  color: black;
  background: black;
  border-color: black;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-data {
  width: 70vw;
}

@media screen and (max-width: 740px) {
  .block-data {
    width: auto;
    text-align: center;
  }
}

.block-icon {
  width: 30vw;
}

@media screen and (max-width: 740px) {
  .block-icon {
    width: auto;
  }
}

.human-body-part:hover {
  cursor: pointer;
}

.human-body-info {
  position: absolute;
  min-width: 100px;
  width: 10vw;
  height: 8vh;
  border: 1px dashed black;
  border-radius: 7px;
  padding: 10px;
}

.human-body-info p {
  margin: 10px;
}
/*# sourceMappingURL=style.css.map */